{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true }]
  ]
}